body {
    margin: 0px;
    padding: 0px;
    background: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/firearm-blueprints-denny-h.jpg");
    background-repeat: none;
    background-size: 100%;
}

.container{
    align-items: center;  
    padding: 50px;
    align-items: center;  
    border-radius: 50px;
    padding: 50px;
    }

    #ShootersTitle{
        font-family: 'Modak', cursive;
        text-align: center;
        color:bisque;
        font-size: 50px;
        padding-bottom: 10px;
        -webkit-text-stroke: 3px black;
        text-shadow: 4px 4px black;
        background:rgb(37,38,43, 0.8);
    }
